@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --branco: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    font-family: "Inter";
}

body {    
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 50px;
}

.botao {
    background-color: var(--botao-azul);
    padding: 1rem;
    color: var(--branco);
    border-radius: 5px;
}

.principal {
    background-image: url("../img/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}

.principal__info {    
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.principal__titulo {
    color: var(--branco);
    font-size: 28px;
    font-weight: 700;
}

.principal__img {
    width: 50%;
    align-self: center;
    margin: 1rem 0;
}

.principal__botao--alura {
    background-color: transparent;
    border: 1px solid white;
}

.principal__obs {
    font-size: 12px;
    color: var(--branco);
}

.assista {
    align-items: center;
}

.assista__image {
    width: 70%;
    justify-self: center;
}

.assista__info {
    display: flex;
    flex-direction: column;
    color: var(--branco);
    gap: 8px;
}

.assista__titulo {
    font-size: 48px;
    font-weight: 700;
}

.assista__legenda {
    color: var(--cinza-secundario);
    font-size: 16px;
}

.assista__botao {
    margin-top: 1rem;
    width: fit-content;
}

.dispositivos {
    align-items: center;
    text-align: center;
    row-gap: 5rem;
}

.dispositivos__titulo {
    grid-column: span 2;
    align-self: flex-end;
    font-weight: 700;
    font-size: 48px;
}

.dispositivos__info {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-self: baseline;
}

.dispositivos__card-image {
    width: 70%;
}

.dispositivos__card-texto {
    font-size: 32px;
    font-weight: 700;
    padding-top: 1rem;
}

.rodape {
    text-align: center;
    padding: 0 120px 100px 120px;
}

.rodape__lista {
    column-gap: 1rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.rodape__texto {
    padding-bottom: 2rem;
    font-size: 14px;
    color: var(--cinza-secundario);
}
